@model ArticleEntity
@{
    ViewBag.Title = "修改文章";
}
<link href="~/lib/kindeditor/themes/default/default.css" rel="stylesheet" />
<section class="tool-box">
    <a href="javascript:history.go(-1);" class="am-btn am-btn-xs am-btn-default"><i class="am-icon-reply"></i>返回</a>
</section>
<form action="/admin/article/modify" method="post" class="am-form am-form-horizontal" onsubmit="return checkValidate();">
    <div class="am-form-group">
        <label class="am-u-sm-2 am-form-label">标题：</label>
        <div class="am-u-sm-10">
            @Html.TextBoxFor(model => model.Title, new { placeholder = "2-100个字符" })
        </div>
    </div>
    <div class="am-form-group">
        <label class="am-u-sm-2 am-form-label">分类：</label>
        <div class="am-u-sm-10">
            @await Component.InvokeAsync("Category", Model.CategoryId)
        </div>
    </div>
    <div class="am-form-group">
        <label class="am-u-sm-2 am-form-label">内容：</label>
        <div class="am-u-sm-10">
            @Html.TextAreaFor(model => model.Content, new { @id = "kindeditor" })
            @*<textarea id="detail_desc" name="detail_desc" style="width:700px;height:300px;"></textarea>*@
        </div>

    </div>
    <div class="am-form-group">
        <div class="am-u-sm-10 am-u-sm-offset-2">
            @*未使用的属性也必须如下设置，否则传给/article/modify的实例，对应属性为空*@
            @Html.HiddenFor(model => model.Id)
            @Html.HiddenFor(model => model.AccountId)
            <button type="submit" class="am-btn am-btn-primary"><i class="am-icon-check"></i>保存</button>
        </div>
    </div>
</form>
<script src="~/lib/kindeditor/kindeditor-all-min.js"></script>
<script src="~/lib/kindeditor/lang/zh-CN.js"></script>
<script>
    var editor;
    function checkValidate() {
        var $Title = $("#@Html.IdFor(model => model.Title)"),
            $CategoryId = $("#@Html.IdFor(model => model.CategoryId)");
        if (!/.{2,100}/.test($Title.val())) {
            $Title.focus();
            return false;
        }
        if ($CategoryId.val()==="-1") {
            alert("请选择分类");
            return false;
        }

        editor.sync();
        if ($('#kindeditor').val().length <=0) {
            editor.focus();
            alert("请输入内容！");
            return false;
        }
        return true;
    }

    KindEditor.ready(function (K) {
        editor = K.create('#kindeditor', {
            width: '80%',
            height: '450px',
            uploadJson: '/Admin/Image/ImageUpload',
            fileManagerJson: '/Admin/Image/ImageUpload',
            allowFileManager: true,
            cssPath: "/lib/kindeditor/css/image.css",
        });
    });
</script>
